* {
  box-sizing: border-box;
}
body {
  background-color: whitesmoke;
  padding: 0px;
  margin: 0px;
  font-family: 'Poppins', sans-serif;
}
a {
  text-decoration: none;
}
/* Header starts! */
.header {
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
}
.logo {
  font-size: 18px;
  font-weight: 600;
  color: #fa6980;
  display: inline-block;
  vertical-align: middle;
  padding: 20px;
  margin-right: 90px;
}
.active {
  color: black;
  font-weight: 600;
}
.navigation {
  display: inline-block;
}
.navigation-li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  font-size: 15px;
}
.navigation-a {
  color: #343638;
} 
.prof-img {
  vertical-align: middle;
  margin-left: 20px;
}
/* header ends ! */
/* section 1 starts! */
.container {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
}
.sec1-wrapper {
  margin-top: 90px;
  display: inline-block;
}
.title1 {
  font-size: 24px;
  font-weight: 600;
  color: #202124;
  margin-bottom: 40px;
}
.left-box{
 width: 360px;
 height: 360px;
 position: relative;
}
.img1 {
  width: 100%;
}
.left-title {
  font-size: 16px;
  color: white;
  position: absolute;
  top: 28px;
  left: 40px;
}
.left-text {
  font-size: 13px;
  color: #a6adb4;
  padding: 76px 39px 66px 40px;
  background-color: white;
  border-radius: 6px;
}
.time-icon,.minutes {
  position: absolute;
}
.time-icon {
  width: 16px;
  top: 294px;
  left: 40px;
}
.minutes {
  font-size: 13px;
  color: #a6adb4;
  top: 296px;
  left: 66px;
}

